Package: com.modmyi.crash_bandicoot_sounds
Name: Crash Bandicoot Sounds
Version: 1.0
Architecture: iphoneos-arm
Description: Crash Bandicoot Sounds - Replacements for SMS, Mail and other sounds
Homepage: https://github.com/ndbroadbent/ios_cydia_themes
Maintainer: NathanB <www.f-77.com>
Author: NathanB <www.f-77.com>
Depends: winterboard (>=0.9.0)
Section: Themes (Sounds)

