Package: com.modmyi.plants_vs_zombies_coin_sms_tone
Name: Plants Vs Zombies - Coin SMS Tone
Version: 1.0
Architecture: iphoneos-arm
Description: Plants Vs Zombies - Replaces 'TriTone' SMS Tone with coin sound from PVZ.
Homepage: https://github.com/ndbroadbent/ios_cydia_themes
Maintainer: NathanB <www.f-77.com>
Author: NathanB <www.f-77.com>
Depends: winterboard (>=0.9.0)
Section: Themes (Sounds)

